<footer>
    <div class="footer-area footer-padding">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
                 <div class="single-footer-caption mb-50">
                   <div class="single-footer-caption mb-30">
                      <div class="footer-logo mb-35">
                       <a href="{{ path('shionhouse_index') }}">
                           <img src="{{ asset('assets/img/logo/logo2_footer.png') }}" alt="L'Arbre à Lunette - Opticien Paris 12" class="logo-img">
                       </a>
                   </div>
                   <div class="footer-tittle">
                       <div class="footer-pera">
                           <p>{{ site_settings().siteDescription ?: 'Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.' }}</p>
                       </div>
                   </div>
                   <div class="footer-social">
                    {% if site_settings().facebookUrl %}
                        <a href="{{ site_settings().facebookUrl }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if site_settings().twitterUrl %}
                        <a href="{{ site_settings().twitterUrl }}" target="_blank"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if site_settings().instagramUrl %}
                        <a href="{{ site_settings().instagramUrl }}" target="_blank"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if site_settings().youtubeUrl %}
                        <a href="{{ site_settings().youtubeUrl }}" target="_blank"><i class="fab fa-youtube"></i></a>
                    {% endif %}
                    {% if site_settings().tiktokUrl %}
                        <a href="{{ site_settings().tiktokUrl }}" target="_blank"><i class="fab fa-tiktok"></i></a>
                    {% endif %}
                    {% if site_settings().pinterestUrl %}
                        <a href="{{ site_settings().pinterestUrl }}" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Quick links</h4>
                <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Shop Category</h4>
                <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Pertners</h4>
                <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Contactez-nous</h4>
                <ul>
                    {% if site_settings().sitePhone %}
                        <li><a href="tel:{{ site_settings().sitePhone }}">{{ site_settings().sitePhone }}</a></li>
                    {% endif %}
                    {% if site_settings().siteEmail %}
                        <li><a href="mailto:{{ site_settings().siteEmail }}">{{ site_settings().siteEmail }}</a></li>
                    {% endif %}
                    {% if site_settings().siteAddress %}
                        <li><a href="{{ path('contact') }}">{{ site_settings().siteAddress }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
           <div class="row d-flex align-items-center">
               <div class="col-xl-12 ">
                   <div class="footer-copy-right text-center">
                       <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
