<!-- Popular Items Start -->
<div class="popular-items pt-50">
    <div class="container-fluid">
        <div class="row">
            {% if popularItems is defined and popularItems|length > 0 %}
                {% set delays = ['.1s', '.2s', '.4s', '.6s'] %}
                {% for item in popularItems %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="{{ delays[loop.index0] ?? '.1s' }}">
                            <div class="popular-img">
                                <img src="{{ item.image ? asset('assets/uploads/' ~ item.image) : asset('assets/img/gallery/popular' ~ loop.index ~ '.png') }}" alt="{{ item.title }}">
                                <div class="img-cap">
                                    <span>{{ item.title }}</span>
                                </div>
                                <div class="favorit-items">
                                    <a href="{{ item.category ? path('categories_show', {slug: item.category.slug}) : path('products_index') }}" class="btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="popular-img">
                            <img src="{{ asset('assets/img/gallery/popular1.png') }}" alt="">
                            <div class="img-cap">
                                <span>Glasses</span>
                            </div>
                            <div class="favorit-items">
                             <a href="{{ path('products_index') }}" class="btn">Shop Now</a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6  col-6 ">
                <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="popular-img">
                        <img src="{{ asset('assets/img/gallery/popular2.png') }}" alt="">
                        <div class="img-cap">
                            <span>Watches</span>
                        </div>
                        <div class="favorit-items">
                         <a href="{{ path('products_index') }}" class="btn">Shop Now</a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="popular-img">
                    <img src="{{ asset('assets/img/gallery/popular3.png') }}" alt="">
                    <div class="img-cap">
                        <span>Jackets</span>
                    </div>
                    <div class="favorit-items">
                     <a href="{{ path('products_index') }}" class="btn">Shop Now</a>
                 </div>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
            <div class="popular-img">
                <img src="{{ asset('assets/img/gallery/popular4.png') }}" alt="">
                <div class="img-cap">
                    <span>Clothes</span>
                </div>
                <div class="favorit-items">
                 <a href="{{ path('products_index') }}" class="btn">Shop Now</a>
             </div>
         </div>
     </div>
    </div>
    {% endif %}
        </div>
    </div>
</div>
<!-- Popular Items End -->
